@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Nunito+Sans:wght@300;600&family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.presentacion {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 30px 0px;
  grid-area: presentacion;
}
.presentacion h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.58);
}
.presentacion p {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.index-container .contenidoPrincipal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}
.index-container .contenidoPrincipal .flexContent {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}
.index-container .contenidoPrincipal .flexContent .img1 {
  width: 50%;
}
.index-container .contenidoPrincipal .flexContent .texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 100px;
}
.index-container .contenidoPrincipal p {
  font-size: 1rem;
}
.index-container .contenidoPrincipal .flexContentDos {
  display: flex;
  flex-direction: row-reverse;
}
.index-container .contenidoPrincipal .flexContentDos .texto2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0px 100px;
}
.index-container .contenidoPrincipal .flexContentDos .img2 {
  width: 50%;
  padding-top: 2%;
}
.index-container .formulario {
  width: 100%;
  font-size: 1rem;
  color: black;
  padding-top: 3%;
  padding-bottom: 3%;
}
.index-container .formulario .tituloFormIndex {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: 2%;
  text-shadow: -1px -3px 15px rgba(174, 167, 167, 0.65);
}

/*header...........................................................................................*/
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
}
header .propia-menu {
  background-color: #b3a69a;
  width: 100%;
}
header .propia-menu .logo {
  width: 7%;
  margin-left: 5px;
  margin-right: 5px;
}
header .propia-menu .page {
  padding-left: 5%;
  padding-right: 5%;
}
header .propia-menu .page .enlace {
  color: #181818;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}
.footer .img-footer {
  width: 5%;
}
.footer .contenedor-redes {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer h4 {
  font-size: 0.8rem;
  font-style: italic;
}
.footer p {
  font-size: 0.7rem;
}
.footer .img-redes-footer {
  width: 8%;
}

.servicios-container .contenedor-tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.servicios-container .contenedor-tarjetas .tarjeta {
  margin: 1%;
}
.servicios-container .contenedor-tarjetas .tarjeta .img-tarjeta {
  padding: 5px;
}
.servicios-container .contenedor-tarjetas .p-servicios {
  font-size: 0.9rem;
}
.servicios-container .h2-servicios {
  font-size: 1.3rem;
  color: #3c6156;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.obras-container .tarjetas-container .p-obras {
  font-size: 0.8rem;
}
.obras-container .tarjetas-container .titulo-tarjetas-obras {
  font-size: 1.7rem;
}
.obras-container .tarjetas-container .text-body-secondary {
  font-size: 0.8rem;
}

.footer .h3-footer {
  font-size: 0.8rem;
  font-style: italic;
}

.nosotras-container h1 {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.58);
  padding: 5px;
}
.nosotras-container .contenedor-nosotras {
  display: grid;
  grid-template-areas: "item1   item2" "item3   item4" "item5   item5" "item6   item7";
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
}
.nosotras-container .contenedor-nosotras .nombre-arquitecta {
  color: #3c6156;
}
.nosotras-container .contenedor-nosotras .tamano-fuente {
  font-size: 0.8rem;
}
.nosotras-container .contenedor-nosotras .grid-item1 {
  grid-area: item1;
  grid-column: 1/2;
  text-align: start;
}
.nosotras-container .contenedor-nosotras .grid-item2 {
  grid-area: item2;
  text-align: end;
}
.nosotras-container .contenedor-nosotras .grid-item3 {
  grid-area: item3;
  grid-column: 1/2;
  text-align: start;
}
.nosotras-container .contenedor-nosotras .grid-item4 {
  grid-area: item4;
  text-align: end;
}
.nosotras-container .contenedor-nosotras .grid-item5 {
  grid-area: item5;
  padding: 30px;
  text-align: center;
}
.nosotras-container .contenedor-nosotras .grid-item6 {
  grid-area: item6;
  text-align: center;
}
.nosotras-container .contenedor-nosotras .grid-item7 {
  grid-area: item7;
  text-align: center;
}

.contacto-container .tituloForm {
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: 2%;
  text-decoration: underline;
  height: 50%;
  text-shadow: -1px -3px 15px rgba(174, 167, 167, 0.65);
}
.contacto-container .propia {
  font-size: 1rem;
}
.contacto-container .boton-formulario {
  background-color: #3c6156;
  color: aliceblue;
}
.contacto-container .contenedorMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding-bottom: 5%;
}
.contacto-container .contenedorMapa .mapaTitulo {
  font-size: 1.5rem;
  padding: 2%;
  text-decoration: underline;
  color: #3c6156;
}

/*celulares--------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
  .header .propia-menu .logo {
    width: 15%;
  }
  .presentacion h1 {
    font-size: 1.9rem;
  }
  .presentacion p {
    font-size: 0.9rem;
  }
  .index-container .contenidoPrincipal .flexContent {
    flex-direction: column;
    align-items: center;
  }
  .index-container .contenidoPrincipal .flexContent p {
    font-size: 0.8rem;
  }
  .index-container .contenidoPrincipal .flexContent .texto1 {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
  }
  .index-container .contenidoPrincipal .img1 {
    width: 60%;
  }
  .index-container .contenidoPrincipal h2 {
    font-size: 1rem;
  }
  .index-container .contenidoPrincipal .flexContentDos {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .index-container .contenidoPrincipal .flexContentDos .texto2 {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0%;
  }
  .index-container .contenidoPrincipal .img2 {
    width: 60%;
  }
  .index-container .contenidoPrincipal .formulario .tituloFormIndex {
    font-size: 1.2rem;
  }
  .footer {
    flex-direction: column;
    align-items: start;
    border-top: #3c6156 solid 2px;
    margin: 20px;
    padding: 5px;
  }
  .footer .img-footer {
    width: 17%;
    padding: 15px 0px 15px 0px;
  }
  .footer p {
    font-size: 0.7rem;
  }
  .footer h4 {
    font-size: 0.9rem;
  }
  .footer .contenedor-redes {
    width: 100%;
  }
  .footer .contenedor-redes .img-redes-footer {
    width: 8%;
  }
}

/*# sourceMappingURL=estilos.css.map */
