

  /*presentacion*/




  /* contenido principal index*/






    .img1 {
      width: 50%;
  
    }

    .flexContentDos {
      display: flex;
      flex-direction: row-reverse;
  
    }

  .texto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 100px;

  }

  .img2{
    width: 50%;
    padding-top: 2%;

  }
  
  /*formulario*/

  .formulario{
    width: 100%;
    font-size: 1rem;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;

  }

  .tituloFormIndex{
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    padding-bottom: 2%;
    text-shadow: -1px -3px 15px rgba(174,167,167,0.65);
  
  }



  /*footer*/

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    
  }

  .img-footer{
    width: 5%;
  }


  .footer div h4{
    font-size: 0.8rem;
    font-style: italic;

  }

  .footer div p{
    font-size: 0.7rem;

  }
 
  .img-redes-footer{
    width: 10%;
  }

  .contenedor-redes{
    display: flex;
    flex-direction: column;
    width: 30%;

  }

  /* Nosotras page...................................................................................................................*/

  .contenedor-nosotras{
    display: grid;
    grid-template-areas: 
    "item1   item2"
    "item3   item4"
    "item5   item5"
    "item6   item7";
  
   grid-template-columns: repeat(2, 50%);
   justify-content: center;
   align-items: center;
  }

  .grid-item1 {
    grid-area: item1;
    grid-column: 1/2;
    text-align: start;
  }

  .grid-item2 {
    grid-area: item2;
    text-align: end;

  }

  .grid-item3 {
    grid-area: item3;
    grid-column: 1/2;
    text-align: start;
  }

  .grid-item4 {
    grid-area: item4;
    text-align: end;
  }

  .grid-item5{
    grid-area: item5;
    padding: 30px;
    text-align: center;
  }

  .grid-item6{
    grid-area:item6; 
    text-align: center;
  }

  .grid-item7{
    grid-area:item7;
    text-align: center;
  }
  
  .presentacion h1{
    font-size: 2.5rem;
    text-align: center;
    color: black;
    text-shadow: -1px 1px 3px rgba(0,0,0,0.58);
    padding: 5px;
  }
  
  .nombre-arquitecta{
    color: #3c6156;
  }
  
  .tamano-fuente{
    font-size: 0.8rem;
  }
 
 /*Obras---------------------------------------------------------------------------------------------------------------*/

  .p-obras{
    font-size: 0.8rem;

  }
 
  .text-body-secondary{
    font-size: 0.8rem;
  }

  .titulo-tarjetas-obras{
    font-size: 1.7rem;
  }

  .h3-footer{
    font-size: 0.8rem;
    font-style: italic;
  }

/*servicios-------------------------------------------------------------------------------------------------------------*/

.contenedor-tarjetas{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}

.p-servicios{
  font-size: 0.8rem;
}

 
.h2-servicios{
  font-size: 1.3rem;
  color: #3c6156;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/*Contacto......................................................................................................*/

.contenedorMapa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding-bottom: 5%;
}

.propia{
  font-size: 1rem;
  
}

.tituloForm{
  font-size: 1.4rem;
  font-style: italic;
  padding-bottom: 2%;
  text-decoration: underline;
  height: 50%;
  text-shadow: -1px -3px 15px rgba(174,167,167,0.65);

}

.mapaTitulo{
  font-size: 1.5rem;
  padding: 2%;
  text-decoration: underline;
  color: #3c6156;
}

.boton-formulario{
  background-color: #3c6156;
  color: aliceblue;
}
  

 /*Media Query------------------------------------------------------------------------------------------------*/

 /*celulares--------------------------------------------------------------------*/
 @media only screen and (max-width:500px) {

  /*Index*/

  .presentacion h1{
    font-size: 1.9rem;
  }

  .presentacion p{
    font-size: 0.9rem;
  }

  .contenidoPrincipal h2{
    font-size: 1rem;
  }

  .flexContent{
    flex-direction: column;
    align-items: center;
  }

  .contenidoPrincipal p {
    font-size: 0.8rem
  }

  .img1{
    width: 60%;
  
    }

  .flexContentDos{
    flex-direction: column;
    align-items: center;
    margin: 10px;

  }

  .img2{
    width: 60%;
  
    }

  .texto1{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0%;
 }

  .texto2{
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0%;

  }

  .tituloFormIndex{
    font-size: 1.2rem;

  }

  .img-footer{
    width: 17%;
    padding: 15px 0px 15px 0px;
  }

  .footer div p {
    font-size: 0.7rem;
}

.footer{
  flex-direction: column;
  align-items: start;
  border-top: #3c6156 solid 2px;
  margin: 20px;
  padding: 5px;
}

.footer div h4 {
  font-size: 0.9rem;
}

.img-redes-footer{
  width: 8%;
}

.contenedor-redes{
  width: 100%;
}

/*Obras*/



}