@import "partials/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Nunito+Sans:wght@300;600&family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Cabin", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

.presentacion {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 30px 0px;
  grid-area: presentacion;

  h1 {
    font-size: 3rem;
    text-align: center;
    color: black;
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.58);
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    color: black;

  }

}


//hojas secundarias//

@import "partials/index.scss";
@import "partials/headeryfooter.scss";
@import "partials/servicios.scss";
@import "partials/obras.scss";
@import "partials/nosotras.scss";
@import "partials/contacto.scss";


@import "partials/mediaQ.scss";