.contacto-container {

    .tituloForm {
        font-size: 1.4rem;
        font-style: italic;
        padding-bottom: 2%;
        text-decoration: underline;
        height: 50%;
        text-shadow: -1px -3px 15px rgba(174, 167, 167, 0.65);

    }

    .propia {
        font-size: 1rem;

    }

    .boton-formulario {
        background-color: $verdetitulo;
        color: $cremita;
    }


    .mapaTitulo {
        font-size: 1.5rem;
        padding: 2%;
        text-decoration: underline;
        color: $verdetitulo;
        text-align: center;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 400px;
        position: relative;
        height: 0;
        align-items: center;
        justify-content: center;
    }

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }



}