.contacto-container {

    .tituloForm {
        font-size: 1.4rem;
        font-style: italic;
        padding-bottom: 2%;
        text-decoration: underline;
        height: 50%;
        text-shadow: -1px -3px 15px rgba(174, 167, 167, 0.65);

    }

    .propia {
        font-size: 1rem;

    }

    .boton-formulario {
        background-color: $verdetitulo;
        color: $cremita;
    }


    .contenedorMapa {
        height: 100%;
        padding-bottom: 5%;
        @include flex (column,center,center);


        .mapaTitulo {
            font-size: 1.5rem;
            padding: 2%;
            text-decoration: underline;
            color: $verdetitulo;
        }
    }

}