/*header...........................................................................................*/
//header..........................................................................................//

header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;

    .propia-menu{
      background-color:#b3a69a;
      width: 100%; 

      .logo{
        width: 7%;
        margin-left: 5px;
        margin-right: 5px;
        
      }
      
    .page{
      padding-left: 5%;
      padding-right: 5%;

      .enlace{
        color:#181818;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
      }

        }

   

    }
    


  }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;

  .img-footer{
    width: 5%;
  }

  .contenedor-redes{
    display: flex;
    flex-direction: column;
    width: 30%;

  }

  h4{
    font-size: 0.8rem;
    font-style: italic;

  }

  p{
    font-size: 0.7rem;

  }

  .img-redes-footer{
    width: 8%;
  }

  
}