/*header...........................................................................................*/
//header..........................................................................................//

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;

  .propia-menu {
    background-color: $beige;
    width: 100%;

    .logo {
      margin-left: 5px;
      margin-right: 5px;
      width: 75px;

    }


    .nav-link {
      color: black;
      font-weight: bold;
      font-size: 1.1rem;
      margin-right: 30px;

      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }





  }



}

.footer {
  @include flex (row, space-between, center);
  margin: 3%;


  .img-footer {
    width: 5%;
  }

  .contenedor-redes {
    display: flex;
    flex-direction: column;
    width: 30%;

  }

  h4 {
    font-size: 0.8rem;
    font-style: italic;

  }

  p {
    font-size: 0.7rem;

  }

  .img-redes-footer {
    width: 8%;
  }

  .whatsapp-icono {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2dc163;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    z-index: 999;
  }


}