.index-container {

  //contenido principal//

  .contenidoPrincipal {

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
    }

    .flexContent {
      display: flex;
      flex-direction: row;
      padding-top: 3%;

      .img1 {
        width: 50%;

      }

      .texto1 {
        @include flex (column, center, start);
        padding: 0px 100px;
      }

    }

    p {
      font-size: 1rem;

    }

    .flexContentDos {
      display: flex;
      flex-direction: row-reverse;

      .texto2 {
        @include flex (column, center, start);
        padding: 0px 100px;
      }


      .img2 {
        width: 50%;
        padding-top: 2%;

      }

    }

  }



  .formulario {
    width: 100%;
    font-size: 1rem;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;

    .tituloFormIndex {
      text-align: center;
      font-size: 1.4rem;
      font-style: italic;
      padding-bottom: 2%;
      text-shadow: -1px -3px 15px rgba(174, 167, 167, 0.65);

    }

    .boton-formulario {
      background-color: $verdeoscuro;
    }

  }
}