/*celulares--------------------------------------------------------------------*/
@media only screen and (max-width:500px) {

    //estilos comunes//


    .presentacion {
        h1 {
            font-size: 1.9rem;
        }

        p {
            font-size: 1rem;
        }

    }

    //Index//
    .index-container {
        .contenidoPrincipal {



            .flexContent {
                flex-direction: column;
                align-items: center;



                .texto1 {
                    text-align: justify;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 0;

                    h2 {
                        font-size: 1rem;
                        text-decoration: none;
                    }

                    p {
                        font-size: 0.8rem
                    }


                }

                .img1 {
                    width: 60%;

                }
            }



            .flexContentDos {
                flex-direction: column;
                align-items: center;
                margin: 10px;

                .texto2 {
                    text-align: justify;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 0%;

                    h2 {
                        font-size: 1rem;
                        text-decoration: none;
                    }

                    p {
                        font-size: 0.8rem
                    }

                }

                .img2 {
                    width: 60%;

                }


            }


        }

        .formulario {
            .tituloFormIndex {
                font-size: 1.2rem;

            }
        }


    }

    //Contacto//

    .contacto-container {

        .tituloForm {
            font-size: 1.2rem;
            padding-bottom: 5%;

        }

        .contenedorMapa {

            .mapaTitulo {
                font-size: 1.2rem;
            }


        }

    }


    //Nosotras//

    .nosotras-container {

        .presentacion {
            padding: 10px 0px;
            ;
        }

        .mediaq {
            display: none;
        }

        .contenedor-nosotras {
            grid-template-areas:
                "item2"
                "item1"
                "item3"
                "item4"
                "item5"
                "item6"
                "item7";

            grid-template-columns: 1fr;
            grid-template-rows: 300px 200px 300px 150px 50px 300px 300px;

            .grid-item1 {
                text-align: center;
            }

            .grid-item2 {
                text-align: center;

                .img-nosotras {
                    width: 300px;
                }

            }

            .grid-item3 {
                text-align: center;

                .img-nosotras {
                    width: 300px;
                }
            }

            .grid-item4 {
                text-align: center;
            }

            .tamano-fuente {
                font-size: 0.7rem;
            }

            .grid-item6 {
                .img-equipo {
                    width: 160px;
                }
            }

            .grid-item7 {
                .img-equipo {
                    width: 160px;
                }
            }


        }

    }

    //Obras//

    .obras-container {
        .presentacion h1 {

            font-size: 1.7rem;

        }

        .tarjetas-container {
            .titulo-tarjetas-obras {
                font-size: 1.5rem;
            }
        }
    }


    //Servicios//
    .servicios-container {

        .contenedor-servicios {
            flex-direction: column;

            .contenedor-fila1 {
                flex-direction: column;

            }

            .contenedor-fila2 {
                flex-direction: column;
            }

        }

        .h2-servicios {
            font-size: 1.2rem;
            animation: none;
        }

    }



    //Footer//
    .footer {
        flex-direction: column;
        align-items: start;
        border-top: $verdetitulo solid 2px;
        margin: 20px;
        padding: 5px;

        .img-footer {
            width: 17%;
            padding: 15px 0px 15px 0px;
        }

        p {
            font-size: 0.7rem;
        }

        h4 {
            font-size: 0.9rem;
        }

        .contenedor-redes {
            width: 100%;

            .img-redes-footer {
                width: 8%;
            }

        }


    }
}

/*Tablet..........................................................................................................*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    //Estilos comunes//

    .presentacion {
        h1 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.5rem;
        }

    }

    //Index//
    .index-container {
        .contenidoPrincipal {



            .flexContent {
                flex-direction: column;
                align-items: center;



                .texto1 {
                    text-align: justify;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 0;

                    h2 {
                        font-size: 1.6rem;
                        text-decoration: none;
                    }

                    p {
                        font-size: 1.2rem
                    }


                }

                .img1 {
                    width: 60%;

                }
            }



            .flexContentDos {
                flex-direction: column;
                align-items: center;
                margin: 10px;

                .texto2 {
                    text-align: justify;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 0%;

                    h2 {
                        font-size: 1.6rem;
                        text-decoration: none;
                    }

                    p {
                        font-size: 1.2rem
                    }

                }

                .img2 {
                    width: 60%;

                }


            }


        }

        .formulario {
            .contenedorForm {
                .propia {
                    font-size: 1.3rem;
                }

                .boton-formulario {
                    font-size: 1.3rem;
                }
            }

            .tituloFormIndex {
                font-size: 1.6rem;

            }
        }


    }

    //Contacto//

    .contacto-container {

        .tituloForm {
            font-size: 1.3rem;
            padding-bottom: 5%;

        }

        .propia {
            font-size: 1.1rem;

        }

        .boton-formulario {
            font-size: 1.1rem;
        }

        .contenedorMapa {

            .mapaTitulo {
                font-size: 1.2rem;
            }


        }

    }

    //Nosotras//

    .nosotras-container {

        .presentacion {
            padding: 10px 0px;
            ;
        }

        .mediaq {
            display: none;
        }

        .contenedor-nosotras {

            .tamano-fuente {
                font-size: 1.1rem;
            }

            .grid-item2 {

                .img-nosotras {
                    width: 300px;
                    margin-bottom: 10px;
                }

            }

            .grid-item3 {

                .img-nosotras {
                    width: 300px;
                    margin-top: 10px;
                }
            }

            .grid-item6 {

                .img-equipo {
                    width: 220px;
                }
            }

            .grid-item7 {

                .img-equipo {
                    width: 220px;
                }
            }


        }

    }

    //Servicios//
    .servicios-container {

        .contenedor-servicios {

            .contenedor-fila1 {
                flex-wrap: wrap;
                justify-content: center;

            }

            .contenedor-fila2 {
                flex-wrap: wrap;
                justify-content: center;
            }

            .p-img-servicios {
                font-size: 1.1rem;
            }

        }

        .h2-servicios {
            font-size: 1.4rem;
            animation: none;
        }



    }

    //Obras//
    .obras-container {

        .tarjetas-container {

            .p-obras {
                font-size: 1rem;

            }

            .titulo-tarjetas-obras {
                font-size: 1.6rem;
                font-weight: bold;
            }

            .text-body-secondary {
                font-size: 1rem;
                font-weight: bolder;
            }
        }
    }



    //Footer//
    .footer {
        flex-direction: column;
        align-items: start;
        border-top: $verdetitulo solid 2px;
        margin: 20px;
        padding: 5px;

        .img-footer {
            width: 10%;
            padding: 15px 0px 15px 0px;
        }

        p {
            font-size: 0.9rem;
        }

        h4 {
            font-size: 1.1rem;
        }

        .contenedor-redes {
            width: 100%;

            .img-redes-footer {
                width: 5%;
            }

        }


    }




}