.obras-container {

  .tarjetas-container {

    .p-obras {
      font-size: 0.8rem;

    }

    .titulo-tarjetas-obras {
      font-size: 1.7rem;
    }

    .text-body-secondary {
      font-size: 0.8rem;
    }
  }
}

.footer{
  .h3-footer{
    font-size: 0.8rem;
    font-style: italic;
  }
}