.servicios-container {


    .contenedor-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;

        .contenedor-fila1 {
            display: flex;
            flex-direction: row;

        }

        .contenedor-fila2 {
            display: flex;
            flex-direction: row;
        }

        .imagen-servicio {
            width: 296px;
            height: 296px;
            margin: 3px;

            &:hover {
                opacity: 0.6;
            }
        }


        .p-img-servicios {
            font-size: 1rem;
            text-align: center;
            justify-content: center;
            color: black;
            font-weight: bold;
        }


    }

    .h2-servicios {
        font-size: 1.5rem;
        color: $verdetitulo;
        font-weight: bold;
        text-align: center;
        margin: 30px;
        animation-name: trescolores;
        animation-duration: 3s;
        animation-iteration-count: infinite;

    }

    @keyframes trescolores {
        0% {
            color: $cremita
        }

        50% {
            color: $verdetitulo
        }

        100% {
            color: $verdeoscuro
        }
    }




}