.servicios-container {


    .contenedor-servicios {
        display: flex;
        flex-direction: column;
        align-items: center;

        .contenedor-fila1 {
            display: flex;
            flex-direction: row;

        }

        .contenedor-fila2 {
            display: flex;
            flex-direction: row;
        }

        .imagen-servicio {
            width: 296px;
            height: 296px;
            margin: 3px;

            &:hover {
                opacity: 0.6;
            }
        }


        .p-img-servicios {
            font-size: 1rem;
            text-align: center;
            justify-content: center;
            color: black;
            font-weight: bold;
        }


    }

    .h2-servicios {
        font-size: 1.3rem;
        color: $verdetitulo;
        font-weight: bold;
        text-align: center;
        margin: 30px;
        animation-name: h2;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 1s;
    }

    @keyframes h2 {
        0% {
            transform: scale(0, 0);
        }

        25%{

            transform: scale(1.1,1.1);
        }

        50% {
            transform: scale(1.2, 1.2);
        }

        75% {
            transform: scale(1.3, 1.3);
        }

        100% {
            transform: scale(1.4,1.4);
        }

    }



}