.servicios-container {

    .contenedor-tarjetas {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

        .tarjeta{
            margin: 1%;

            .img-tarjeta{
                padding: 5px;
            }
        }

        .p-servicios {
            font-size: 0.9rem;
        }


    }

    .contenedor-servicios{
        display: flex;
        flex-direction: column;
        align-items: center;

        .contenedor-fila1{
            display: flex;
            flex-direction: row;

        }

        .contenedor-fila2{
            display: flex;
            flex-direction: row;
        }

        .imagen-servicio{
            width: 296px;
            height: 296px;
            margin: 3px;

            &:hover{
                opacity: 0.6;
            }
        }

        .info{
            position:absolute;
            overflow:hidden;
            opacity:0;
            transition: opacity 0.3s;
        }

        .imagen-servicio:hover .info{
            opacity:1;
          }

        .p-img-servicios{
            font-size: 1rem;
            text-align: center;
            margin-top: 200px;
            transition: margin-top 0.4s;
        }

        .imagen-servicio:hover .p-img-servicios {
            margin-top: 75px;
          }

    }

    .h2-servicios {
        font-size: 1.3rem;
        color: $verdetitulo;
        font-weight: bold;
        text-align: center;
        margin: 30px;
    }

}